{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.hasResult %}
        {% set icon %}



        <img width="28" height="28" alt="Mod Rewrite" style="border-width: 0; vertical-align: middle; margin-right: 5px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYdJREFUeNpiNDY2ZqAnYGKgM6C2he1A/AqIe3EpYKGiZdOAOBPKLgJiISBOpJUPDYA4GU0sAYjn08JCkE8uAHEoEP8iZCmlFoIMOwbEEkC8CY+lkym1kBlqGcgwdSA+AMTSeCxNpsRCkGVzoJbBAMjSvXgs7SbXQmyWEbK0A4jryckW+CwDgUdIwesAtdQQiK+Rk2gIWbYMiFWhtArUUn50y4j1ISyBxOKQXwzN4H+B+AtUbA0QfySnaCPFsplAnAbErUBcSU5ZSsiyBTgsq8HnAxYKLEuBWjYHms8IWobLh+RY1kSMZdh8CLJsERBHEQhGBqSSpgk5n5HqwxY8ls3FYlk9KZZhszAZSzkIsywFrQyth/qO7BpfDohFoXmoD0l8FpJlsMxfQ45l6HFoAKUvQ8s/Iahv07FY1kpufYbLQgaklIicaimyDJeF0khBrAX1VQi09OigtHmAbKEuUmNoAhBzQvmvocE6ixqNH2QLeaCl+wVosMLop9RsRyJbKDksW94AAQYAsFpjMHYwQJwAAAAASUVORK5CYII="/>
        <span class="sf-toolbar-status">Mod Rewrite</span>
        {% endset %}
        {% set text %}
        {% spaceless %}
            <div class="sf-toolbar-info-piece">
                <b>New Url</b>
                <span class="sf-toolbar-status">{{ collector.newUrl }}</span>
            </div>
        {% endspaceless %}
        {% endset %}
        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
<span class="label">

    <span class="icon"><img width="28" height="28" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYdJREFUeNpiNDY2ZqAnYGKgM6C2he1A/AqIe3EpYKGiZdOAOBPKLgJiISBOpJUPDYA4GU0sAYjn08JCkE8uAHEoEP8iZCmlFoIMOwbEEkC8CY+lkym1kBlqGcgwdSA+AMTSeCxNpsRCkGVzoJbBAMjSvXgs7SbXQmyWEbK0A4jryckW+CwDgUdIwesAtdQQiK+Rk2gIWbYMiFWhtArUUn50y4j1ISyBxOKQXwzN4H+B+AtUbA0QfySnaCPFsplAnAbErUBcSU5ZSsiyBTgsq8HnAxYKLEuBWjYHms8IWobLh+RY1kSMZdh8CLJsERBHEQhGBqSSpgk5n5HqwxY8ls3FYlk9KZZhszAZSzkIsywFrQyth/qO7BpfDohFoXmoD0l8FpJlsMxfQ45l6HFoAKUvQ8s/Iahv07FY1kpufYbLQgaklIicaimyDJeF0khBrAX1VQi09OigtHmAbKEuUmNoAhBzQvmvocE6ixqNH2QLeaCl+wVosMLop9RsRyJbKDksW94AAQYAsFpjMHYwQJwAAAAASUVORK5CYII=" alt="Mod Rewrite"></span>
    <strong>Mod Rewrite</strong>
</span>
{% endblock %}

{% block panel %}
    <h2>Matched Rule</h2>

    {% if collector.hasResult and collector.rule %}
        <p>
            <pre>
            {% for condition in collector.rule.conditions %}
            {{ condition.content }}
            {% endfor %}
            {{ collector.rule.rewrite.content }}
            </pre>
        </p>
    {% else %}
        <p>
            <em>No Rewrite Happened</em>
        </p>
    {% endif %}
    
    <h2>New URL</h2>

    {% if collector.hasResult and collector.rule %}
        <p>
            <pre>
            {{ collector.newUrl }}
            </pre>
        </p>
    {% else %}
        <p>
            <em>No Rewrite Happened</em>
        </p>
    {% endif %}

{% endblock %}
